html {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	
	//background-color: rgb(97, 60, 20);
	background-color: rgb(130, 81, 27);
	font-family: "Lucida Console", "Courier New", monospace;
}

.titleText {
	font-size: 12rem;
}

.ArrowPNGStyle {
	width: 80%;
	height: 80%;
}

.ContentDiv {
	//background-color: rgb(130, 81, 27);
	border:none;
	border-radius: 15rem;
	padding:1%;
}

.moreButton {
	text-decoration: none;
	color: darkgray;
}

.GameHeaderTitle {
	text-align: left;
}

.fading-arrow {
	animation: fadePulse 2s infinite ease-in-out;
	opacity: 0.3;
}

@keyframes fadePulse {
	0%   { opacity: 0.2; transform: translateY(0px); }
	50%  { opacity: 1;   transform: translateY(6px); }
	100% { opacity: 0.2; transform: translateY(0px); }
}

.date-card {
	font-size: 6rem;
}